@import 'styles/index';

.switch {
  border: $border-secondary;
  height: 20px;
  width: 40px;
  cursor: pointer;
  border-radius: 12px;

  position: relative;

  .switch-slider {
    @include transition();

    position: absolute;
    top: 2px;
    left: 2px;

    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;

    &.is-off {
      margin-left: 0;
    }

    &.is-on {
      margin-left: 20px;
    }
  }

  &.is-on {
    background-color: $background-color-primary;
  }

  &.is-off {
    background-color: #c0c4cc;
  }
}
