@import 'styles/index';

.article-info {
  color: $font-color-regular;

  @include flex-center(start);

  letter-spacing: 1px;

  .article-info__icon {
    font-size: $font-small;
    margin-right: $margin-small;
  }

  .article-info__author,
  .article-info__visit,
  .article-info__comment,
  .article-info__introduce,
  .article-info__date {
    font-size: 14px;
    margin: 0 $margin-regular 0 $margin-small;
  }
}
