.article-item__info {
	letter-spacing: 1px;
	color: #606266;
	display: flex;
	align-items: center;
}

.article-item-icon {
	font-size: 14px;
	margin-right: 8px;
}

.article-item__author,
.article-item__visit,
.article-item__comment,
.article-item__date {
	margin-right: 12px;
}
