@import 'styles/index';

.comment {
  @include flex-center(start);
  gap: 12px;

  .comment__main {
    @include flex-column();

    .comment__detail {
      @include flex-center(start);
      gap: 12px;

      .comment__nickname {
        color: $font-color-primary;
        font-size: $font-small;
      }

      .comment__date {
        color: $font-color-secondary;
        font-size: $font-small;
      }
    }

    .comment__content {
      color: $font-color-primary;
      font-size: $font-regular;
      padding: 10px 0 20px 0;
    }
  }

  .comment__avatar {
    img {
      box-sizing: border-box;
      cursor: pointer;

      width: 36px;
      height: 36px;

      border-radius: 50%;
      border: $border-secondary;
    }
  }
}
