@import 'styles/index';

.comment {
  @include flex-center(start);
  gap: 36px;

  .comment__detail {
    @include flex-column;
    justify-content: space-between;
  }

  .comment__avatar {
    width: 50px;
    height: 50px;

    img {
      box-sizing: border-box;
      cursor: pointer;

      height: 100%;
      width: 100%;

      border-radius: 50%;
      border: $border-secondary;
    }
  }

  .comment__nickname {
    color: $font-color-regular;
    font-weight: bold;
  }

  .comment__date {
    color: $font-color-regular;
  }

  .comment__content {
    color: $font-color-primary;
    font-size: $font-large;
    padding: 10px 0 20px 0;
  }
}
