@import 'styles/index';

.input {
  height: 32px;

  position: relative;

  @include flex-center();

  border-radius: 4px;

  @include transition();

  border: $border-secondary;

  padding-left: 12px;

  &.is-focus {
    border: $border-primary;
  }

  .input__cleaner {
    color: $font-color-regular;
    visibility: hidden;
    font-size: 12px;

    position: absolute;

    right: 4px;

    cursor: pointer;

    &.is-valuable {
      visibility: visible;
    }
  }

  input {
    background-color: transparent;
    height: 100%;
    caret-color: $font-color-regular;
    display: block;
    outline: none;
    border: none;

    &::placeholder {
      user-select: none;
      padding-left: 4px;
      color: $font-color-primary;
    }
  }
}
