@import 'styles/index';

.article-item__info {
  color: $font-color-regular;

  @include flex-center(start);

  letter-spacing: 1px;

  .article-item__icon {
    font-size: $font-small;
    margin-right: $margin-small;
  }

  .article-item__author,
  .article-item__visit,
  .article-item__comment,
  .article-item__date {
    margin: 0 $margin-regular 0 $margin-small;
  }
}
