@import 'styles/index';

.article-detail {
  .article-detail__article-title {
    font-size: $font-title-large;

    color: $font-color-primary;

    margin-bottom: $margin-regular;

    font-weight: bold;
  }

  .article-detail__article-content {
    color: $font-color-primary;

    margin-top: $margin-regular;
  }

  .article-detail__comment-container {
    @include flex-column;

    gap: 24px;
    padding: $padding-regular 0;
    margin: $margin-regular 0;

    .article-detail__comment-title {
      color: $font-color-primary;
      font-weight: bold;
      font-size: $font-large;
    }
  }

  .article-detail__form {
    @include flex-column();
    gap: 24px;

    .article-detail__form-nickname,
    .article-detail__form-avatar,
    .article-detail__form-button,
    .article-detail__form-content {
      @include flex-center(start);

      gap: 12px;

      & > span {
        color: $font-color-primary;
      }
    }

    .article-detail__form-user_info {
      // @include flex-center(space-between);
    }
  }
}
