@import 'styles/index';

.header {
  height: 100%;
  @include flex-center(space-between);

  padding: 4px 24px 0 24px;
  border-bottom: $border-secondary;

  margin: 0 64px;

  height: 64px;

  .header-menu {
    height: 100%;

    @include flex-center(start, end);

    .header-menu__item {
      font-size: $font-small;
      user-select: none;

      color: $font-color-primary;
      box-sizing: border-box;

      @include flex-center();
      @include transition();

      height: 90%;
      cursor: pointer;

      padding: 0 $padding-small;
      margin: 0 $margin-regular;
      border-bottom: 2px transparent solid;

      .header-menu__icon {
        font-size: 12px;
        margin-right: $margin-regular;
      }

      &.is-active,
      &:hover {
        color: #409eff;
        border-bottom: 2px #409eff solid;
      }
    }
  }

  .header-input {
    @include flex-center();

    border-radius: 4px;
    border: 1px solid transparent;

    @include transition();

    &.is-hover {
      border: $border-secondary;
    }

    &.is-focus {
      border: $border-primary;

      .header-input__searcher,
      .header-input__cleaner {
        color: #409eff;
      }
    }

    .header-input__cleaner {
      visibility: hidden;
      font-size: 12px;
      width: 24px;

      @include flex-center();
      cursor: pointer;

      &.is-valuable {
        visibility: visible;
      }
    }

    .header-input__searcher {
      @include flex-center();
      width: 42px;
      height: 42px;
      color: $font-color-primary;
    }

    input {
      background-color: transparent;
      height: 100%;
      caret-color: $font-color-regular;
      display: block;
      outline: none;
      border: none;

      &::placeholder {
        padding-left: 4px;
        color: $font-color-primary;
      }
    }
  }

  .header-button {
    @include transition();

    position: fixed;
    bottom: 5%;
    right: 5%;

    font-size: 56px;

    cursor: pointer;

    color: $font-color-primary;

    &:hover {
      color: #409eff;
    }
  }
}
