@import 'styles/index';

.article-item {
  cursor: pointer;

  border-bottom: $border-secondary;
  max-height: 300px;

  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: space-between;

  @include transition();

  padding: 12px 16px;

  &:hover {
    background-color: #eee;
  }

  .article-item__cover {
    width: 100%;
    @include flex-center;

    div {
      height: 90px;
      width: 90px;
      border-radius: 4px;

      @include flex-center;

      img {
        width: 100%;
        height: auto;
        border: $border-secondary;
        display: block;
      }
    }
  }

  .article-item__detail {
    max-height: 300px;
    width: 100%;
    display: grid;
    align-content: space-between;
    grid-template-rows: 40% 30% 20%;

    .article-item__title {
      color: $font-color-primary;
      letter-spacing: 1px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .article-item__preview {
    line-height: 1.5;
    color: $font-color-regular;

    width: 100%;
    font-size: $font-small;

    height: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      color: $font-color-primary;
    }
  }
}
