@import 'styles/index';

.pagination {
  @include flex-center(end);
  width: 100%;

  .pagination__button {
    &--type-index,
    &--type-arrow {
      @include transition;
      font-weight: bold;
      font-size: $font-small;

      padding: 8px;

      margin: 0 $margin-small;

      cursor: pointer;
      color: $font-color-primary;

      &:hover,
      &.is-active {
        color: #409eff;
      }
    }

    &--type-arrow {
      font-size: 12px;

      &.disabled {
        color: $font-color-regular;
        cursor: not-allowed;
      }
    }
  }
}
