.article-comment__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 24px 0;
	margin: 12px 0;
}

.article-comment__title {
	font-weight: bold;
	font-size: 18px;
}

.article-detail__title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 12px;
}

.article-detail__content {
	margin-top: 12px;
}
